.contenedor{
    display: flex;
    justify-content: center;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.3em;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "input input input input"
        "uno dos tres division"
        "cuatro cinco seis resta"
        "siete ocho nueve multiplicacion"
        "cero decimal borrar igual";
    min-width: 30vh;
    min-height: 50vh;
}

.grid-container * {
    background-color: darkturquoise;

}
.bttnCal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    grid-area: input;
}

.division {
    grid-area: division;
}

.resta {
    grid-area: resta;
}

.multiplicacion {
    grid-area: multiplicacion;
}

.igual {
    grid-area: igual;
}

.borrar {
    grid-area: borrar;
}

.decimal {
    grid-area: decimal;
}

.titulo {
    grid-area: titulo;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.siete {
    grid-area: siete;
}

.ocho {
    grid-area: ocho;
}

.nueve {
    grid-area: nueve;
}

.cero {
    grid-area: cero;
}